extends layout

block content
  div#gameUI
    div#gameIntro
      h1 SUBMARINE ONLINE GAME
      if user
        h4 以下のアカウントでゲームに参加できます。
        h2 #{user.displayName} : 
          img(src=`${user.photos[0].value}`)
        h2
          a(href="game") Play
        h3
          a(href="logout") Logout
      else
        h3
          a(href="login/twitter") Twitter Login
        h5 記録を残すには twitter でログインしてください。
        h3
          a(href="game") Anonymous Login